/* Default styles for all screen sizes */

body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  margin: 0;
  background-color: #c1b8b896;
  color: #252323;
}

header,
footer {
  background-color: #61adec;
  color: #fff;
  /* White text color */
  padding: 20px;
  text-align: center;
}

.power-memory-game {
  text-align: center;
  margin-top: 20px;
}

h2 {
  color: #000;
  /* Black header text color */
}

.cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  margin-top: 20px;
  padding: 10px;
  border: 2px solid #61adec;
  /* Add border around all the cards */
}

.card {
  width: 100px;
  height: 150px;
  background-color: #61adec;
  /**background-image: url('/assets/images/power_card.jpeg');
  /* Path to the powerball image */
  background-size: cover;
  background-position: center;
  color: #fff;
  /* White text color */
  font-size: 20px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border: 2px solid #2196F3;
  /* Add border around each card */
}

button {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 16px;
  background-color: #61adec;
  color: #fff;
  /* White text color */
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #1976D2;
}

/* Media queries for responsiveness */

/* Tablet */
@media (max-width: 768px) {
  .cards {
    flex-direction: column;
    align-items: center;
  }

  .card {
    width: 80px;
    height: 120px;
    font-size: 18px;
  }
}

/* Mobile */
@media (max-width: 576px) {

  header,
  footer {
    padding: 15px;
  }

  .card {
    width: 60px;
    height: 90px;
    font-size: 14px;
  }
}